<div class="container-fluid p-0 m-0">
  <!-- latest Movies -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" *ngIf="latestMovie">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{latestMovie?.backdrop_path}}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <!-- trending movies -->
  <div class="row mt-3 pt-2 px-2">
    <h6>
      Trending Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of trendingMovies?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- UpComing movies -->
  <div class="row mt-3 pt-2 px-2">
    <h6>
      Now Playing Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of nowPlayingMovies?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- UpComing movies -->
  <div class="row mt-3 pt-2 px-2">
    <h6>
      Upcoming Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of upComingMovies?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- TopRated movies -->
  <div class="row mt-3 pt-2 px-2">
    <h6>
      Top Rated Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of topRatedMovies?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- UpComing movies -->
  <div class="row mt-3 pt-2 px-2" *ngIf="popularMovies">
    <h6>
      Popular Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of popularMovies?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- UpComing movies -->
  <div class="row mt-3 pt-2 px-2">
    <h6>
      Original Movies
    </h6>
    <div class="col-md-2 mt-3" *ngFor="let movie of originals?.results; let i = index">
      <div class="card" *ngIf="i < 6">
        <img *ngIf="!movie.backdrop_path" src="{{ movie.backdrop_path }}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
          <p><span class="text-waring">Rating</span>: {{movie.vote_average}}</p>
          <p>Language : <span class="p-1 bg-grey"> <b> {{movie.original_language}}</b></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
